AuthType Basic
AuthName "mod_accountmanager test"
AuthBasicProvider file
AuthUserFile /var/www/test-mod-accountmanager.mutualauth.org/.htpasswd
Require valid-user

# see tests for usernames and passwds