AuthType Basic
AuthName "mod_accountmanager test"
AuthBasicProvider file
AuthUserFile /var/www/test-mod-accountmanager.mutualauth.org/protected/.htpasswd
Require valid-user

AccountManagerAMCDURL "http://test-mod-accountmanager.mutualauth.org/amcd.json"

AddHandler cgi-script .sh

# see tests for usernames and passwds